@import url('https://fonts.cdnfonts.com/css/calculator');

/* -Alt Theme- */
:root{
    --text : #ede4fd;
    --background: #040109;
    --main: #aa88f47d;
    --secondary: #930d30;
    --highlight: #ed5e3a;
}

body{
    background-color: var(--background);
    color: var(--text);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap : 32px;
}

h1{
    text-align: center;
}

.calc{
    background-color: var(--main);
    height: 700px;
    width: 600px;
    border-radius: 16px;
    display:flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    gap:20px;
}

.screen{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #7a7995;
    height: 150px;
    width: 600px;
    border-radius: 16px 16px 0 0;
    border-bottom: solid 8px black;
}

.display{
    background-color: rgba(0, 0, 0, 0.823);
    height: 90px;
    width: 550px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    text-align: center;
    border: solid 2px #e9f5f6b9;
    border-radius: 12px;
}

.display>p{
    font-family: 'Calculator', sans-serif;
    font-weight: 600;
    font-size: 64px;
    margin-right: 20px;
    color: var(--text)
}
/* Operator buttons */
.calc-buttons{
    font-family: 'Calculator', sans-serif;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 575px;
    width: 550px;
    overflow: hidden;
    gap: 8px;
}

/* Numbered buttons */
.row0,.row1,.row2,.row3{
    display: flex;
    justify-content: space-between;
    gap: 16px;
    width: 550px;
}
.numbers{
    font-family: 'Calculator', sans-serif;
    height: 100px;
    width: 200px;
    font-size: 64px;
    color: var(--text);
    background-color: #7a7995;
}

.clear{
    background-color: var(--highlight);
}


footer{
    width: 100%;
    padding: 20px;
    text-align: center;
}